.image-container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.image {
  width: 100%;
  max-height: 100vh;
}

.grid-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 20px;
  padding: 30px;
}

.grid-text {
  color: white;
  grid-column: 1 / span 3;
  grid-row: 5;
}

.name-text {
  font-size: 2.5rem;
  font-weight: 600;
}

.position-text {
  font-size: 1.5rem;
  font-weight: 600;
}
