<div class="about-me-page">
  <h1>About me</h1>
  I have 2 years of commercial programming experience in Java + spring + hibernate. I can also
  write SQL commands and understand how relational databases work. I am familiar with unit and integration testing using
  JUnit5 and Mockito. I used Postman to test my changes when fixes required front-end and backend changes. If necessary,
  I have no problems with starting to learn some new technologies or languages. If you ask me about my 'soft skills', I
  consider planning and organization to be my most important and strongest features.
</div>
