@use "styles/variables" as *;
// Default button styles //

button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 7px;
  overflow: hidden;
  color: var(--text);
  cursor: pointer;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

button:hover {
  transform: translate(3px, -3px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.15);
}

// Experience button styles //

.exp-btn {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
}

.image-frame {
  width: 100%;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exp-btn img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.exp-btn-text {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 30%;
  width: 100%;
  font-weight: 600;
  font-size: 5vw;
}

@media (min-width: $breakpoint-md) {
  .exp-btn-text {
    font-size: 2.5vw;
  }
}

// Footer button //

.footer-btn {
  border-radius: 0;
}

.footer-btn:hover {
  transform: none;
  box-shadow: none;
}

.active {
  background-color: var(--primary);
}
