<div class="fullscreen-box">
  <div class="fullscreen-box-header">
    <h1>Grid container</h1>
  </div>
  <div class="grid-container">
    <div class="grid-item item1">Item 1</div>
    <div class="grid-item item2">Item 2</div>
    <div class="grid-item item3">Item 3</div>
    <div class="grid-item item3">Item 4</div>
    <div class="grid-item item3">Item 5</div>
    <div class="grid-item item3">Item 6</div>
    <div class="grid-item item3">Item 7</div>
    <div class="grid-item item3">Item 8</div>
    <div class="grid-item item3">Item 9</div>
    <div class="grid-item item3">Item 10</div>
    <div class="grid-item item3">Item 11</div>
    <div class="grid-item item3">Item 12</div>
  </div>
</div>
<!-------------------------------------------------------------------------------------------------------------------->
<div class="fullscreen-box">
  <div class="fullscreen-box-header">
    <h1>Bootstrap grid</h1>
  </div>
  <div class="container-fluid margin-3">
    <div class="row">
      <div class="col">col</div>
      <div class="col">col</div>
      <div class="col">col</div>
    </div>
    <div class="col-3">col-3</div>
    <div class="col-6">col-6</div>
    <div class="col-9">col-9</div>
    <div class="col">col</div>
    <div class="row">
      <div class="col-sm-2">col-sm-2</div>
      <div class="col-sm-2">col-sm-2</div>
      <div class="col-sm-2">col-sm-2</div>
    </div>
    <div class="col-sm-2">col-sm-2</div>
    <div class="col-md-2">col-md-2</div>
    <div class="col-lg-2">col-lg-2</div>
    <div class="col-xl-2">col-xl-2</div>
    <div class="col-xxl-2">col-xxl-2</div>
    <div class="col-12 col-sm-8 col-md-6 col-lg-4 col-xl-3 col-xxl-2">col-12 col-sm-8 col-md-6 col-lg-4 col-xl-3
      col-xxl-2
    </div>
  </div>
</div>
<!-------------------------------------------------------------------------------------------------------------------->
<div class="fullscreen-box">
  <div class="fullscreen-box-header">
    <h1>Bootstrap flex</h1>
  </div>
  <div class="d-flex flex-wrap flex-row-reverse justify-content-end p-3 bg-secondary text-white">
    <div class="p-2 bg-dark">Flex item 1</div>
    <div class="p-2 bg-info">Flex item 2</div>
    <div class="p-2 bg-dark">Flex item 3</div>
    <div class="p-2 bg-info">Flex item 4</div>
    <div class="p-2 bg-dark">Flex item 5</div>
    <div class="p-2 bg-info">Flex item 6</div>
    <div class="p-2 bg-dark">Flex item 7</div>
    <div class="p-2 bg-info">Flex item 8</div>
    <div class="p-2 bg-dark">Flex item 9</div>
    <div class="p-2 bg-info">Flex item 10</div>
    <div class="p-2 bg-dark">Flex item 11</div>
    <div class="p-2 bg-info">Flex item 12</div>
    <div class="p-2 bg-dark">Flex item 13</div>
    <div class="p-2 bg-info">Flex item 14</div>
    <div class="p-2 bg-dark">Flex item 15</div>
    <div class="p-2 bg-info">Flex item 16</div>
    <div class="p-2 bg-dark">Flex item 17</div>
    <div class="p-2 bg-info">Flex item 18</div>
    <div class="p-2 bg-dark">Flex item 19</div>
    <div class="p-2 bg-info">Flex item 20</div>
  </div>
</div>
<!-------------------------------------------------------------------------------------------------------------------->

<div class="fullscreen-box image-flex-box">
  <div class="fullscreen-box-header">
    <h1>Text over image</h1>
  </div>
  <div class="image-grid-box">
    <div class="image-grid-box2">
      <div class="grid-cell"></div>
    </div>
    <div class="grid-cell"></div>
    <div class="grid-cell"></div>
    <div class="grid-cell"></div>
    <div class="grid-cell"></div>
    <div class="grid-cell"></div>
    <div class="grid-cell"></div>
    <div class="grid-cell"></div>
    <div class="grid-cell"></div>
    <div class="grid-cell"></div>
    <div class="grid-cell"></div>
    <div class="grid-cell"></div>
    <div class="grid-cell"></div>
    <div class="grid-cell"></div>
    <div class="grid-cell"></div>
    <div class="grid-cell"></div>
    <div class="grid-cell"></div>
  </div>
<!--  <img class="image" src="assets/images/landscape-placeholder.svg" alt="image placeholder">-->
<!--  <svg width="500" height="500" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="selected">-->
<!--    <rect x="10" y="10" width="80" height="80" fill="blue"/>-->
<!--  </svg>-->
</div>
<!-------------------------------------------------------------------------------------------------------------------->

<div class="fullscreen-box">
  <div class="fullscreen-box-header">
    <h1>Width and height properties</h1>
  </div>
  <div>
    <div class="width-height-box">
      <h2>This is #1</h2>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id massa mauris. Aenean laoreet feugiat accumsan.
      Sed commodo quis metus a dignissim. Donec diam dolor, fringilla et ante sed, sollicitudin vestibulum leo.
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris vitae justo
      ut mauris varius cursus sed at diam. Aliquam non leo aliquam, maximus tellus ut, fringilla sem. Quisque non augue
      nulla. Phasellus blandit augue turpis, sit amet pharetra magna pharetra eget. Ut vel tristique purus. Vestibulum
      interdum fermentum condimentum. In at condimentum orci.
    </div>
    <div class="width-height-box">
      <h2>This is #2</h2>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id massa mauris. Aenean laoreet feugiat accumsan.
      Sed commodo quis metus a dignissim. Donec diam dolor, fringilla et ante sed, sollicitudin vestibulum leo.
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris vitae justo
      ut mauris varius cursus sed at diam. Aliquam non leo aliquam, maximus tellus ut, fringilla sem. Quisque non augue
      nulla. Phasellus blandit augue turpis, sit amet pharetra magna pharetra eget. Ut vel tristique purus. Vestibulum
      interdum fermentum condimentum. In at condimentum orci.
    </div>
  </div>
</div>
<!-------------------------------------------------------------------------------------------------------------------->

<div class="fullscreen-box">
  <div class="fullscreen-box-header">
    <h1>Positioning</h1>
  </div>

  <div class="parent">
    Parent
    <div class="child-one">One</div>
    <div class="child-two">Two</div>
    <div class="child-three">Three</div>
  </div>
</div>

<div class="fullscreen-box">
  <div class="fullscreen-box-header">
    <h1>Global styles test</h1>
  </div>

  <div class="my-container">
    My container
  </div>
</div>
<!-------------------------------------------------------------------------------------------------------------------->

<div class="fullscreen-box">
  <div class="fullscreen-box-header">
    <h1>Image properties</h1>
  </div>
<!--  mouseX: {{mouseX}}<br>-->
<!--  mouseY: {{mouseY}}<br>-->
<!--  x: {{x}}<br>-->
<!--  y: {{y}}<br>-->
<!--  <div class="image-frame" #form><img src="favicon.ico"></div>-->
  <div class="image-frame" #form><img src="../../assets/images/landing-page-picture.png"></div>
  <!--  <div class="image-frame"><img src="assets/images/logo-KLG.webp"></div>-->
<!--  <div class="image-frame"><img src="assets/images/booking_service.ico"></div>-->
</div>
<!-------------------------------------------------------------------------------------------------------------------->

<div class="fullscreen-box">
  <div class="fullscreen-box-header">
    <h1>Next section</h1>
  </div>
</div>
