<app-landing-page id="app-landing-page"></app-landing-page>
<div class="wrapper">
  <main>
    <section><app-skills id="app-skills"></app-skills></section>
    <section><app-experience id="app-experience"></app-experience></section>
    <section><app-about-me id="app-about-me"></app-about-me></section>
    <section><app-contact id="app-contact"></app-contact></section>
  </main>
  <footer>
    <div class="language-menu" *ngIf="burgerMenuToShow === burgerLanguageMenu">
      <app-button (click)="showBurgerMenu()">{{getGeneralTranslation('back')}}</app-button>
      <app-button *ngFor="let language of languages" (click)="selectLanguage(language.languageCode)">{{language.languageName}}</app-button>
    </div>
    <app-button *ngIf="burgerMenuToShow === burgerMainMenu" (click)="showLanguageMenu()">{{getTranslationForComponent('languages')}}</app-button>
    <app-button *ngIf="burgerMenuToShow === burgerMainMenu" (click)="downloadCV()">{{getTranslationForComponent('download_cv')}}</app-button>
    <div class="footer-buttons">
      <app-button class="footer-btn" [btn_type]="ButtonType.default" data-section="app-landing-page"><img src="../../assets/icons/home.svg" alt="home icon"></app-button>
      <app-button class="footer-btn" [btn_type]="ButtonType.default" data-section="app-skills"><img src="../../assets/icons/skill.svg" alt="skills icon"></app-button>
      <app-button class="footer-btn" [btn_type]="ButtonType.default" data-section="app-experience"><img src="../../assets/icons/briefcase.svg" alt="experience icon"></app-button>
      <app-button class="footer-btn" [btn_type]="ButtonType.default" data-section="app-about-me"><img src="../../assets/icons/user.svg" alt="about me icon"></app-button>
      <app-button class="footer-btn" [btn_type]="ButtonType.default" data-section="app-contact"><img src="../../assets/icons/email.svg" alt="contact icon"></app-button>
      <app-button class="footer-btn" [btn_type]="ButtonType.default" (click)="showBurgerMenu()"><img src="../../assets/icons/menu-burger.svg" alt="burger menu icon"></app-button>
    </div>
  </footer>
</div>
