@use "styles/variables" as *;

.wrapper {
  background-color: var(--background);
  color: var(--text);
}

main {
  padding: 0 20px 20px;
}

.navbar {
  position: sticky;
  bottom: 0;
  background-color: white;
}

.navbar .navbar-buttons {
  display: flex;
}

.footer-btn {
  flex: 1;
  aspect-ratio: 1 / 1;
}

.footer-btn img {
  max-width: 100%;
  max-height: 100%;
  color: #cc8411;
  filter: brightness(0) saturate(100%) invert(67%) sepia(71%) saturate(487%) hue-rotate(1deg) brightness(94%) contrast(89%);
}

.footer-btn span {
  display: none;
}


@media (min-width: $breakpoint-md) {
  main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  main section {
    grid-column: 4 / span 6;
  }

  .navbar {
    position: fixed;
    top: 0;
    bottom: unset;
    right: 0;
    height: 4rem;
    width: 100%;
    font-size: 2em;
  }

  .navbar-buttons {
    height: 100%;
  }

  .navbar-buttons img {
    display: none;
  }

  #navbar-menu img {
    display: unset;
  }

  .footer-btn {
    flex: unset;
    flex: 1;
    aspect-ratio: unset;
  }

  .footer-btn span {
    display: unset;
    font-size: 20px;
  }

  .footer-btn img {
    height: 1.2em;
  }
}
