@use "styles/variables" as *;

main {
  padding: 0 20px 20px;
}

.navbar {
  position: sticky;
  bottom: 0;
  background-color: white;
}

.navbar .footer-buttons {
  display: flex;
}

.footer-btn {
  flex: 1;
  aspect-ratio: 1 / 1;
}

.footer-btn img {
  max-width: 100%;
  max-height: 100%;
  color: #cc8411;
  filter: brightness(0) saturate(100%) invert(67%) sepia(71%) saturate(487%) hue-rotate(1deg) brightness(94%) contrast(89%);
}


@media (min-width: $breakpoint-md) {
  main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  main section {
    grid-column: 4 / span 6;
  }

  .navbar {
    position: fixed;
    top: 0;
    bottom: unset;
    right: 0;
    width: 50vw;
  }
}
