<div class="experience-page">
  <h1>Experience</h1>
  <div class="exp-btn-container">
    <app-button class="exp-btn" [btn_type]="ButtonType.exp_btn" exp_btn_header="Last job" exp_btn_src="assets/images/logo-KLG.webp" exp_btn_src_alt="logo KLG"></app-button>
    <app-button class="exp-btn" [btn_type]="ButtonType.exp_btn" exp_btn_header="Brand website" exp_btn_src="favicon.ico" exp_btn_src_alt="zaiets website logo"></app-button>
    <app-button class="exp-btn" [btn_type]="ButtonType.exp_btn" exp_btn_header="Booking service" exp_btn_src="assets/images/booking_service.ico" exp_btn_src_alt="booking service logo"></app-button>
    <app-button class="exp-btn" [btn_type]="ButtonType.exp_btn" exp_btn_header="Telegram bot" exp_btn_src="assets/images/telegram-bot.png" exp_btn_src_alt="telegram bot preview"></app-button>
  </div>
</div>
