<div class="experience-page">
  <h1>Experience</h1>
  <div class="exp-btn-container">
    <app-button class="exp-btn" [btn_type]="ButtonType.exp_btn" exp_btn_header="Last job" btn_img_src="assets/images/logo-KLG.webp" btn_img_alt="logo KLG"></app-button>
    <app-button class="exp-btn" [btn_type]="ButtonType.exp_btn" exp_btn_header="Brand website" btn_img_src="favicon.ico" btn_img_alt="zaiets website logo"></app-button>
    <app-button class="exp-btn" [btn_type]="ButtonType.exp_btn" exp_btn_header="Booking service" btn_img_src="assets/images/booking_service.ico" btn_img_alt="booking service logo"></app-button>
    <app-button class="exp-btn" [btn_type]="ButtonType.exp_btn" exp_btn_header="Telegram bot" btn_img_src="assets/images/telegram-bot.png" btn_img_alt="telegram bot preview"></app-button>
  </div>
</div>
