<div class="skill-page">
  <h1>Skills</h1>
  <div class="button-container">
    <app-button class="skill-button" label="Java"></app-button>
    <app-button class="skill-button" label="Spring"></app-button>
    <app-button class="skill-button" label="Hibernate"></app-button>
    <app-button class="skill-button" label="SQL"></app-button>
    <app-button class="skill-button" label="Git"></app-button>
    <app-button class="skill-button" label="Intellij idea"></app-button>
    <app-button class="skill-button" label="JUnit/Mockito"></app-button>
    <app-button class="skill-button" label="Postman"></app-button>
    <app-button class="skill-button" label="Docker"></app-button>
    <app-button class="skill-button" label="TDD"></app-button>
    <app-button class="skill-button" label="Github/Gitlab"></app-button>
    <app-button class="skill-button" label="HTML"></app-button>
    <app-button class="skill-button" label="CSS"></app-button>
    <app-button class="skill-button" label="Typescript"></app-button>
    <app-button class="skill-button" label="Angular"></app-button>
    <app-button class="skill-button" label="CD/CI"></app-button>
    <app-button class="skill-button" label="Russian"></app-button>
    <app-button class="skill-button" label="Ukrainian"></app-button>
    <app-button class="skill-button" label="English"></app-button>
    <app-button class="skill-button" label="Polish"></app-button>
  </div>
</div>
