<div class="skill-page">
  <h1>Skills</h1>
  <h2>Backend</h2>
  <div class="button-container">
    <app-button class="skill-button">Java</app-button>
    <app-button class="skill-button">Spring</app-button>
    <app-button class="skill-button">Hibernate</app-button>
    <app-button class="skill-button">SQL</app-button>
    <app-button class="skill-button">JUnit/Mockito</app-button>
  </div>
  <h2>Frontend</h2>
  <div class="button-container">
    <app-button class="skill-button">HTML</app-button>
    <app-button class="skill-button">CSS</app-button>
    <app-button class="skill-button">Typescript</app-button>
    <app-button class="skill-button">Angular</app-button>
  </div>
  <h2>Other</h2>
  <div class="button-container">
    <app-button class="skill-button">Git</app-button>
    <app-button class="skill-button">Github/Gitlab</app-button>
    <app-button class="skill-button">Docker</app-button>
    <app-button class="skill-button">Postman</app-button>
    <app-button class="skill-button">TDD</app-button>
    <app-button class="skill-button">CD/CI</app-button>
    <app-button class="skill-button">Intellij idea</app-button>
  </div>
  <h2>Languages</h2>
  <div class="button-container">
    <app-button class="skill-button">Russian</app-button>
    <app-button class="skill-button">Ukrainian</app-button>
    <app-button class="skill-button">English</app-button>
    <app-button class="skill-button">Polish</app-button>
  </div>
  <h2>Soft skills</h2>
  <div class="button-container">
    <app-button class="skill-button">Consistence</app-button>
    <app-button class="skill-button">Organized</app-button>
    <app-button class="skill-button">Communicative</app-button>
    <app-button class="skill-button">Calm</app-button>
  </div>
</div>
