@use "styles/themes/blue-theme";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 3rem;
  font-size: 2.5rem;
  font-weight: 600;
}

h2 {
  text-align: center;
  margin: 1.5rem;
}
