<app-landing-page id="app-landing-page"></app-landing-page>
<div class="wrapper">
  <main>
    <section><app-skills id="app-skills"></app-skills></section>
    <section><app-experience id="app-experience"></app-experience></section>
    <section><app-about-me id="app-about-me"></app-about-me></section>
    <section><app-contact id="app-contact"></app-contact></section>
  </main>
  <footer>
    <app-button class="footer-btn" [btn_type]="ButtonType.default" data-section="app-landing-page"><img src="assets/icons/home.svg" alt="home icon"></app-button>
    <app-button class="footer-btn" [btn_type]="ButtonType.default" data-section="app-skills"><img src="assets/icons/skill.svg" alt="skills icon"></app-button>
    <app-button class="footer-btn" [btn_type]="ButtonType.default" data-section="app-experience"><img src="assets/icons/briefcase.svg" alt="experience icon"></app-button>
    <app-button class="footer-btn" [btn_type]="ButtonType.default" data-section="app-about-me"><img src="assets/icons/user.svg" alt="about me icon"></app-button>
    <app-button class="footer-btn" [btn_type]="ButtonType.default" data-section="app-contact"><img src="assets/icons/email.svg" alt="contact icon"></app-button>
    <app-button class="footer-btn" [btn_type]="ButtonType.default"><img src="assets/icons/menu-burger.svg" alt="burger menu icon"></app-button>
  </footer>
</div>
