<app-landing-page id="app-landing-page"></app-landing-page>
<div class="wrapper">
  <main>
    <section><app-skills id="app-skills"></app-skills></section>
    <section><app-experience id="app-experience"></app-experience></section>
    <section><app-about-me id="app-about-me"></app-about-me></section>
    <section><app-contact id="app-contact"></app-contact></section>
  </main>
  <footer>
    <app-button class="footer-btn" [btn_type]="ButtonType.footer_btn" data-section="app-landing-page">Home</app-button>
    <app-button class="footer-btn" [btn_type]="ButtonType.footer_btn" data-section="app-skills">Skills</app-button>
    <app-button class="footer-btn" [btn_type]="ButtonType.footer_btn" data-section="app-experience">Experience</app-button>
    <app-button class="footer-btn" [btn_type]="ButtonType.footer_btn" data-section="app-about-me">About me</app-button>
    <app-button class="footer-btn" [btn_type]="ButtonType.footer_btn" data-section="app-contact">Contact</app-button>
    <app-button class="footer-btn" [btn_type]="ButtonType.footer_btn">Burger menu</app-button>
  </footer>
</div>
